.container {
  margin: 2rem auto 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 49vh;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.legend span {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #fff;
}

.high {
  background-color: #FDB700; /* Orange */
}

.medium {
  background-color: #347064; /* Vert foncé */
}

.low {
  background-color: #e8e8e8; /* Vert clair */
}


.table {
  width: 100%;
  border-collapse: separate; /* Maintient l'espacement entre les cellules */
  border-spacing: 5px; /* Espacement entre les cellules */
  margin: 0;
  overflow-x: auto; /* Ajoute un défilement horizontal */
}

.tableRow {
  position: relative; /* Nécessaire pour ajouter une pseudo-bordure */
  margin: 5px;
  color: var(--green-dark-white-lightmode);
}

.tableRow::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Ajuste la position pour correspondre à l'espacement */
  height: 3px; /* Épaisseur de la bordure */
  width: 100%;
  background-color: #ABCDBB; /* Couleur de la bordure */
  z-index: 1; /* Place la pseudo-bordure derrière les cellules */
}

.tableHeader,
.tableCell {
  text-align: center;
  border: solid var(--bg-color:#F8FAFB) 2px;
  border-radius: 14px;
  font-size: 16px;
}

.tableCell {
  width: 50px;
  padding: 20px 50px;
  margin: 10px;
}

.tableHeader {
  color: var(--green-dark-white-lightmode);
}

.day {
  font-weight: bold;
}

.none {
  background-color: var(--none-tracker);
}

.low {
  background-color: #ABCDBB; /* vert clair */
}

.medium {
  background-color: #347064; /* Vert foncé */
}

.high {
  background-color: #FDB700; /* Orange */
}

