.main-content{
    padding: 20px 20px 0px 0px;
    display: flex;
    gap: 20px;
}
@media(max-width: 500px) {
    .main-content{
        display: block;
        gap: 10px;
    }
}

.bigCalendar{
   width: 70%;
   height: fit-content;
   padding: 20px;
   border-radius: 20px;
   background-color: var(--elements-bg-color);
   box-shadow: var(--box-shadow);
}


.Day{
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    background-color: var(--elements-bg-color);
    box-shadow: var(--box-shadow);
}
.Day h2{
    color: var(--color-black-white);
    margin-bottom: 20px;
}

