/* Conteneur principal */
.tasksContainer {
  display: flex;
  gap: 20px;
  padding: 20px 20px 20px 0px;
}

/* Barre flottante à droite */
.floatingBar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 200px;
  width: 3.2rem;
  padding-block: 20px;
  margin-block: 25vh;
  background-color: var(--sidebar-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.floatingBar button, .editTaskButton {
  background-color: transparent;
  color: var(--green-light-white-lightmode);
  cursor: pointer;
  font-size: 18px;
}
.editTaskButton:hover{
  background-color: transparent;
  transform: scale(1.1);
}

.floatingBar button:hover {
  transform: scale(1.1);
}

/* Contenu principal */
.mainContent {
  padding-inline: 20px;
  flex-grow: 1;
}




/* Boutons de filtre */
.filterButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filterSelect {
  width: 15vw;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: var(--lightGreen-lightmode-darkGreen-darkmode);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.filterSelect option {
  padding: 18px;
}

.filterSelect option:hover {
  background-color: #ff4d4d !important;
}



.title_editbutton{
  display: flex;
  justify-content: space-between;
}

/* Carte de tâche */
.taskCard {
  background-color: var(--elements-bg-color);
  box-shadow:  4px 4px 6px rgba(255, 255, 255, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.taskCard:hover {
  transform: scale(1.03);
}

/* Liste des tâches */
.taskList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.taskCard h3 {
  margin-bottom: 5px;
  color: var(--green-light-white-lightmode);
}

.taskCard p {
  margin: 5px 0;
  color: #437A6F;
}

.taskCard p span{
  font-weight: 400;
  padding-right: 5px;
  /* color: #e1a100d3; */
  color: #f6bd60;
}




.deleteTaskButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.deleteTaskButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s transform 0.3s ease;
  font-size: 0.9rem;
}

.deleteTaskButton:hover {
  transform: scale(1.02);
  background-color: #cf352a;
}





/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modalContent {
  background: var(--sidebar-bg-color);
  border-radius: 12px;
  padding: 20px;
  width: 35vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: scaleUp 0.3s ease;
  position: relative;
  transition: width 0.3s;
  overflow: hidden;
}

/* Modal Header */
.modalHeader {
  text-align: center;
}
.modalHeader h2 {
  color: var(--color-black-white);
}
.modalContent h5{
  color: var(--green-dark-white-lightmode);
  padding-block: 5px;
}

/* Form Styling */
.modalForm input,
.modalForm textarea,
.modalForm select {
  background-color: var(--sidebar-bg-color);
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid var(--green-color-lightmode-lightgreen-darkmode);
  border-radius: 8px;
  color: var(--color-black-greyishWhite);
  font-size: 0.9rem;
}
.modalForm textarea {
  resize: none;
  height: 80px;
}

.dateGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
}


.selectGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  margin-bottom: 15px;
}


/* Modal Actions */
.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.primaryButton, .secondaryButton {
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primaryButton {
  background-color: #437A6F;
  color: white;
  border: none;
}

.primaryButton:hover {
  background-color: #2f554d;
}

.secondaryButton {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}

.secondaryButton:hover {
  background-color: #b4b4b4;
}

/* Scale-Up Animation */

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



.modalHeader2{
  text-align: center;
  color: var(--color-black-white);

}
.confirmation_question{
  color: var(--color-black-greyishWhite);
  margin-top: 20px;
  margin-bottom: 30px;
}



.errorMessage{
  color: red;
}



/* Notification styles */
.notification {
  position: fixed;
  bottom: 60px;
  right: -300px; /* Start outside the viewport */
  background-color: #437A6F; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide-in 0.5s forwards, slide-out 0.5s 4.5s forwards;
  opacity: 0;
}

.notification .close_notif {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}

/* Slide-in and slide-out animations */
@keyframes slide-in {
  from {
    right: -300px; /* Start outside the viewport */
    opacity: 0;
  }
  to {
    right: 20px; /* End position */
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    right: 20px;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}











@media(max-width: 1000px) {
  .modalContent {
    width: 45vw;
  }
}


